# Telegram
python-telegram-bot==22.*
telethon>=1.36.0,<2.0

# Веб-сервер и API
fastapi>=0.115.0
uvicorn>=0.30.0

# Асинхронные HTTP-запросы (для Jira)
httpx>=0.27.0

# Работа с PostgreSQL
asyncpg>=0.29.0

# Управление окружением
python-dotenv>=1.0.1

# Валидация данных
pydantic>=2.8

# Дополнительно (логирование, безопасность, отладка)
aiofiles>=23.2.1
starlette>=0.37.2
